body
{
    position: relative;
}
#navdireccionesA a{
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    width: 1.5;
    
}
#navdireccionesI a:hover{
    background-color: white;
    color: gray;
}

.img1{
    position: relative;
    margin: 10px;
    margin-top: 100px;
    text-align: center;
    
}
.txt1{
    color: white;
   
}